body {
  margin: 0;
  padding: 0;
  background-color: rgb(10,10,10);
  color: rgb(240,240,240);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Verdana, Tahoma, sans-serif;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: rgba(204, 204, 204, 0.3); 
  background-image: linear-gradient(
      115deg,
      rgba(204, 204, 204, 0.4),
      rgba(112, 112, 112, 0.4)
  ),url(https://wallpaperaccess.com/full/2073407.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(6px);
}