html, body {
  height: fit-content;
  height: 1280px;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(10,10,10);
  color: rgb(240,240,240);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Verdana, Tahoma, sans-serif;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
  animation-fill-mode: forwards;
  position: relative;
}