.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 20px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: rgb(240,240,240);
}
#copy, #email{
  width: 350px;
  background-color: rgba(0,0,0, 0.6);
  margin: 7px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  height: 51px;
}
.tile {
  width: 350px;
  background-color: rgba(0,0,0, 0.6);
  margin: 7px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}
.tile:hover, #copy:hover, #email:hover {
  transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.3s;
  transform: scale(1.08) !important;
}
.title-name, .desc-name{
margin: 0;
}
.title-name{
font-size: 1.5rem;
}
.container-name{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.tile-share-button {
  margin: 8px;
  width: 15px;
}
.tile-share-button svg {
  margin-left: 0;
  margin-top: 4px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(103%) contrast(101%);
}
#texto-copia{
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}
@media screen and (max-width: 370px){
  .tile, #copy, #email {
      width: 310px;
  }
  .tile:hover, #copy:hover, #email:hover {
    transform: scale(1.05) !important;
  }
}
@media screen and (max-width: 330px){
  .tile:hover, #copy:hover, #email:hover  {
    transform: scale(1.02) !important;
  }
}